
table{
	border-spacing: 8px;
}
 
th, td {
		
	border-spacing: 4px;}
.bb_name{
  font-size: large;
  
  height : 100px;
  background-color: antiquewhite;
  text-align: center;
  align-content: center;
  
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

  



.Card_section{
  background-color: lightcyan;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  height : 20vh;
  
}
.Card{
  background-color: lime;
 
  height : 100%;
  width :100%;
  text-align: center;
vertical-align: middle;
}
.form{
	
	border: 1px #EEEEEE;
	margin: 4px 2px;
	
}

.register{
  color: yellow;
  
}  
input[type=text], input[type=password] ,input[type=email] {
background-color: #EEEEEE;
border: none;
color: black;
width:auto;
padding: 8px 52px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}
select,option{
	background-color: #EEEEEE;
border: none;
color: black;
width:auto;
padding: 8px 52px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
} 
input[type=submit], input[type=reset] {
background-color: #4CAF50;
border: none;
color: white;
font-size:15px;
padding: 16px 32px;
text-decoration: bold;
margin: 4px 2px;
cursor: pointer;
}
.topnav{
	overflow:hidden;
	background-color:#333;
}
.topnav a{
    float:left;
	color:#f2f2f2;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:17px;
}
.topnav a:hover{
	color:black;
	background-color:#ddd;
}
.topnav a.active{
	
	background-color:#4CAF50;
	color:white;
}
h1{
	text-align: center;
	text-transform: uppercase;
}
p{
	text-indent: 50px;
	text-align: justify;
	
}
ol{
	color: black;
}


.table_data{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
